.header
  .logo
    Filmtourism
  %p
    ログイン
  %p
    サインアップ
  %P
    ゲストユーザー
  %p
    投稿一覧
  %p
    地図で見る
.content
  .main_logo
    Filmtourism
  .description
    あなただけのanother skyを投稿しよう。
.footer
  .footer_logo
    ©2020 filmtourism

  

