.header
  .logo
    Filmtourism
  %p
    = link_to "ログイン",new_user_session_path,class:"logo2"
  %p
    = link_to"サインアップ", new_user_registration_path,class:"logo2"
  %P
    ゲストユーザー
  %p
    投稿一覧
  %p
    地図で見る
.content
  .main_logo
    Filmtourism
  .description
    あなただけのanother skyを投稿しよう。
.footer
  .footer_logo
    ©2020 filmtourism

  

